*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    line-height:1.6;
    background:#111;
    color:white;
}

/* Navigation */

header{
    background:#000;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

.logo{
    font-size:28px;
    color:#ff9800;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

nav ul li a:hover{
    color:#ff9800;
}

/* Hero */

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.6),
    rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?auto=format&fit=crop&w=1500&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
}

.hero p{
    margin:20px auto;
    max-width:700px;
    font-size:20px;
}

.btn{
    display:inline-block;
    background:#ff9800;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.btn:hover{
    background:#e68900;
}

/* Features */

.features{
    padding:70px 10%;
    text-align:center;
}

.features h2{
    margin-bottom:40px;
    font-size:38px;
}

.cards{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#222;
    padding:30px;
    width:300px;
    border-radius:10px;
}

.card h3{
    color:#ff9800;
    margin-bottom:15px;
}

/* About */

.about{
    padding:70px 10%;
    text-align:center;
    background:#1a1a1a;
}

.about h2{
    font-size:38px;
    margin-bottom:20px;
}

.about p{
    max-width:800px;
    margin:auto;
}

/* Footer */

footer{
    background:#000;
    text-align:center;
    padding:40px;
}

.social{
    margin:20px 0;
}

.social a{
    color:#ff9800;
    text-decoration:none;
    margin:0 15px;
}

.copy{
    margin-top:20px;
    color:#aaa;
}

/* Responsive */

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
}

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:17px;
}

.cards{
    flex-direction:column;
    align-items:center;
}

}